/* 勝利に導くマーケティング会社 */
.Home_concept_area__fndBv .Home_concept_cont__nGDxW .Home_concept_inner__QzjaC h3 {
  font-size: clamp(20px, 6vw, 43px) !important;
}

/* concept sentence */
.Home_concept_area__fndBv .Home_concept_cont__nGDxW .Home_concept_inner__QzjaC p {
  font-size: clamp(12px, calc(14 / 375 * 100vw), 20px) !important;
}


@media screen and (max-width: 786px) {

  /* service title */
  .Home_service__Ie4vL .Home_container__97eC3 .Home_strong_img_inner__V9EXB {
    width: 75vw !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-65%, -25%) rotate(-90deg) !important;
  }

}

@media screen and (min-width: 550px) and (max-width: 786px) {

  /* mission 黄背景 */
  .Home_mission__LY_vW .Home_yellow_rect__JMhhs {
    width: 70vw !important;
    height: 200vw !important;
    top: 0 !important;
  }

  /* mission 赤背景 */
  .Home_mission__LY_vW .Home_mesh_img_inner__Qaw00 {
    width: clamp(0px, 270vw, 1600px) !important;
    height: clamp(0px, 270vw, 1600px) !important;
    top: -20vw !important;
    right: -80vw !important;
  }

  /* mission */
  .Home_mission__LY_vW {
    margin-top: 10vw !important;
  }

  /* mission inner */
  .Home_mission__LY_vW .Home_container__97eC3 {
    width: 95% !important;
    max-width: 100% !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH {
    width: 100% !important;
    padding-top: 10vw !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP {
    width: 100% !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_ttl_back__xenLT {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }

  /* mission title */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP>img {
    margin-top: -25vw !important;
    width: 90vw !important;
    top: 16vw !important;
    left: -5vw !important;
  }

  /* mission contents */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_mission_detail__XFMOp {
    padding: 50vw 5vw !important;
  }

  /* 企業の長期利益を最大化 */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_mission_detail__XFMOp h4 {
    font-size: 6.7vw !important;
    line-height: normal !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* mission sentence */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_mission_detail__XFMOp p {
    font-size: 3.7vw !important;
    line-height: calc(22 / 375 * 100vw) !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 10vw !important;
  }

  /* btn */
  .rectBtn_rect_btn__56LnC {
    margin-top: 10vw !important;
    width: 54vw !important;
    height: 11vw !important;
  }

  .rectBtn_rect_btn__56LnC .rectBtn_inner__Id7_l {
    width: 95% !important;
    height: 80% !important;
  }

  .rectBtn_rect_btn__56LnC .rectBtn_inner__Id7_l a {
    font-size: 3.3vw !important;
    letter-spacing: 1.5vw !important;
    line-height: normal !important;
  }

  /* .rectBtn_rect_btn__56LnC:hover svg {
    width: -8vw !important;
  } */

  /* mission morotomi-img */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_tommy_img__tHyEw {
    width: 75vw !important;
    height: 75vw !important;
    left: -35vw !important;
    bottom: -35vw !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_tommy_img__tHyEw .Home_img_inner__skqvt {
    width: 100% !important;
    height: 100% !important;
  }

  /* 軍師プランとは？ */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_strength_img_inner___blTO {
    top: -35vw !important;
    right: 5vw !important;
    width: 20vw !important;
    z-index: 100 !important;
  }

  /* service container */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL {
    width: 100% !important;
  }

  /* service inner */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_serviceFirstZoon__v0_lv {
    padding: 25vw 5vw !important;
  }

  /* service sentence-container */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_content_p__Wryog {
    padding: 10vw 0 !important;
  }

  /* service sentence */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_content_p__Wryog p {
    font-size: 3.4vw !important;
    line-height: 1.6 !important;
    text-align: center !important;
    margin: 0 !important;
  }

  /* service グラフ */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX {
    width: 100% !important;
    align-items: center !important;
    row-gap: 5vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH .Home_competitor_children__7c3kc {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 5vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH .Home_competitor_children__7c3kc .Home_Competitor_mycompany__bVh_h {
    margin: 0 !important;
    padding: 0 !important;
    width: 12.2vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH .Home_competitor_children__7c3kc .Home_Competitor_nomal__RHf18,
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH .Home_competitor_children__7c3kc .Home_Competitor_big__99zNX {
    margin: 0 !important;
    padding: 0 !important;
    flex: 1 !important;
    width: 100% !important;
  }

  /* service 巻物-inner */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_serviceSecondZoon__Ym1e4 {
    padding: 10vw 5vw !important;
  }

  /* 主なマーケティング支援 */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_main_support_contents__Etfy_ {
    width: 75vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_main_support_contents__Etfy_ img {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* service 巻物 */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH {
    width: 120% !important;
    margin-top: 10vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 {
    margin-bottom: calc(47.5 / 768 * 100vw) !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 .Home_ScrollBase__6NExB {
    height: 70vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 .Home_ScrollBase__6NExB .Home_ScrollBase_cont__NZjZn .Home_japaneseScrollCont__BUQO_>span>span {
    padding: 66vw 0 0 !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 .Home_ScrollBase__6NExB .Home_ScrollBase_cont__NZjZn .Home_japaneseScrollCont_txt__Q3A8X {
    padding-right: 4vw !important;
    padding-left: calc(55 / 375 * 100vw) !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 .Home_ScrollBase__6NExB .Home_ScrollBase_cont__NZjZn .Home_japaneseScrollCont_txt__Q3A8X h4 {
    font-size: 5vw !important;
    padding-bottom: 4.266vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 .Home_ScrollBase__6NExB .Home_ScrollBase_cont__NZjZn .Home_japaneseScrollCont_txt__Q3A8X p {
    margin-top: calc(20 / 375 * 100vw) !important;
    font-size: calc(13 / 375 * 100vw) !important;
    line-height: calc(22 / 375 * 100vw) !important;
  }

  /* service 我々の技能 */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw {
    width: 100% !important;
    margin-top: 15vw !important;
  }

  /* service 我々の技能-title */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw .Home_ttl__lAWVW {
    width: 10vw !important;
    margin: 0 !important;
    padding-right: 2vw !important;
  }

  /* service 我々の技能-contents */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw ul {
    padding-left: 2vw !important;
    gap: 2vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw ul li a .Home_icon_img__l4Mim {
    width: 22vw !important;
    height: 22vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw ul li a .Home_icon_img__l4Mim .Home_iconInner__gbVbr {
    width: 8vw !important;
    height: 8vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw ul li a p {
    font-size: 2.5vw !important;
    letter-spacing: normal !important;
  }

  /* service morotomi-img */
  .Home_service__Ie4vL .Home_yoshimoto_img__CLfXu {
    width: 50vw !important;
    height: 50vw !important;
    right: -15vw !important;
    bottom: -40vw !important;
  }

  .Home_service__Ie4vL .Home_yoshimoto_img__CLfXu .Home_img_inner__skqvt {
    width: 100% !important;
    height: 100% !important;
  }

  /* works */
  /* .Home_works__9ywpe {
    width: 100%;
    margin: 0;
    padding: 20vw 0 !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 .Home_cat_ttl__EiIfA {
    padding: 0 !important;
  } */

  /* works 実績紹介 */
  /* .Home_works__9ywpe .Home_container__97eC3 .Home_cat_ttl__EiIfA>img {
    width: 30vw !important;
    margin: 0 !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 .Home_cat_ttl__EiIfA p {
    padding: 1vw 0 !important;
    margin-top: 5vw !important;
    font-size: 3.3vw !important;
    line-height: 1.5 !important;
  } */

  /* works 取引先一覧 */
  /* .Home_works__9ywpe .Home_container__97eC3 .Home_achievements__b_49r {
    width: 90% !important;
    margin: 5vw auto !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 .Home_achievements__b_49r>img {
    width: 100% !important;
    margin: 0 !important;
  } */


}

@media screen and (min-width: 787px) {

  /* mission 黄背景 */
  .Home_mission__LY_vW .Home_yellow_rect__JMhhs {
    width: calc(990 / 1440 * 100vw) !important;
    height: calc(750 / 1440 * 100vw) !important;
  }

  /* mission 赤背景 */
  .Home_mission__LY_vW .Home_mesh_img_inner__Qaw00 {
    width: calc(1530 / 1440 * 100vw) !important;
    height: calc(1530 / 1440 * 100vw) !important;
    top: -12vw !important;
    right: -14vw !important;
  }

  /* mission inner */
  .Home_mission__LY_vW .Home_container__97eC3 {
    width: 100% !important;
    max-width: 100% !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH {
    width: 100% !important;
    padding-top: calc(165 / 1440 * 100vw) !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP {
    width: calc(1170 / 1440 * 100vw) !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_ttl_back__xenLT {
    top: 0 !important;
    left: 8px !important;
    width: 92% !important;
    height: 100% !important;
  }

  /* mission title */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP>img {
    width: calc(900 / 1440 * 100vw) !important;
    top: calc(-230 / 1920* 100vw) !important;
    left: calc(-120 / 1920* 100vw) !important;
  }

  /* mission contents */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_mission_detail__XFMOp {
    padding-top: calc(262 / 1440 * 100vw) !important;
    padding-right: calc(180 / 1440 * 100vw) !important;
    padding-bottom: calc(90 / 1440 * 100vw) !important;
    padding-left: calc(180 / 1440 * 100vw) !important;
  }

  /* 企業の長期利益を最大化 */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_mission_detail__XFMOp h4 {
    font-size: 3.5vw !important;
    line-height: calc(96 / 1920 * 100vw) !important;
    margin-bottom: calc(40 / 1440 * 100vw) !important;
    padding-bottom: calc(18 / 1440 * 100vw) !important;
  }

  /* mission sentence */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_mission_detail__XFMOp p {
    font-size: 1.4vw !important;
    line-height: calc(48 / 1920 * 100vw) !important;
    margin-bottom: calc(75 / 1920 * 100vw) !important;
  }

  /* btn */
  .rectBtn_rect_btn__56LnC {
    width: calc(400 / 1920 * 100vw) !important;
    height: calc(80 / 1920 * 100vw) !important;
  }

  .rectBtn_rect_btn__56LnC .rectBtn_inner__Id7_l {
    width: calc(392 / 1920 * 100vw) !important;
    height: calc(72 / 1920 * 100vw) !important;
  }

  .rectBtn_rect_btn__56LnC .rectBtn_inner__Id7_l a {
    font-size: calc(24 / 1920 * 100vw) !important;
    letter-spacing: calc(10 / 1920 * 100vw) !important;
    line-height: calc(48 / 1920 * 100vw) !important;
  }

  .rectBtn_rect_btn__56LnC .rectBtn_inner__Id7_l svg {
    width: calc(56 / 1920 * 100vw) !important;
  }

  /* mission morotomi-img */
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_tommy_img__tHyEw {
    width: calc(560 / 1920 * 100vw) !important;
    height: calc(560 / 1920 * 100vw) !important;
    left: calc(-160 / 1920* 100vw) !important;
    bottom: calc(-280 / 1920 * 100vw) !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_tommy_img__tHyEw .Home_img_inner__skqvt {
    width: 100% !important;
    height: 100% !important;
  }

  /* service inner */
  .Home_container__97eC3 {
    max-width: 100% !important;
  }

  /* service title */
  .Home_service__Ie4vL .Home_container__97eC3 .Home_service_img_inner__bsMbe {
    display: block !important;
    width: calc(368 / 1920* 100vw) !important;
    top: calc(-360 / 1920* 100vw) !important;
  }

  .Home_service__Ie4vL .Home_container__97eC3 .Home_strong_img_inner__V9EXB {
    display: none !important;
  }

  /* service contents-inner */
  .Home_service__Ie4vL .Home_inner__k19bH {
    width: calc(1440 / 1920* 100vw) !important;
    margin-top: calc(240 / 1920* 100vw) !important;
  }

  /* 軍師プランとは？ */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_strength_img_inner___blTO {
    top: calc(132 / 1920 * 100vw) !important;
    right: calc(-40 / 1920 * 100vw) !important;
    width: calc(160 / 1920 * 100vw) !important;
    z-index: 100 !important;
  }

  /* service container */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL {
    width: 100% !important;
  }

  /* service inner */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_serviceFirstZoon__v0_lv {
    padding: calc(100 / 1920 * 100vw) calc(125 / 1920 * 100vw) calc(150 / 1920 * 100vw) calc(480 / 1920 * 100vw) !important;
  }

  /* service sentence-container */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_content_p__Wryog {
    padding: calc(30 / 1920 * 100vw) !important;
  }

  /* service sentence */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_content_p__Wryog p {
    font-size: 1.4vw !important;
    line-height: 1.6 !important;
    text-align: justify !important;
    margin-bottom: calc(25 / 1920 * 100vw) !important;
  }

  /* service グラフ */
  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    justify-content: flex-start !important;
    column-gap: 24px !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_chart__9GofP {
    flex-shrink: 0;
    width: calc(592 / 1920 * 100vw) !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH {
    flex-shrink: 0;
    width: calc(219 / 1920 * 100vw) !important;
    margin-bottom: calc(-80 / 1920* 100vw) !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH .Home_competitor_children__7c3kc {
    display: block !important;
    height: calc(216 / 1920 * 100vw) !important;
  }





}