@media screen and (min-width: 1920px) {
  .Home_concept_area__fndBv .Home_concept_cont__nGDxW .Home_concept_inner__QzjaC h3 {
    line-height: normal !important;
  }

  .Home_concept_area__fndBv .Home_concept_cont__nGDxW .Home_concept_inner__QzjaC p {
    font-size: 1.7vw !important;
    line-height: normal !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 {
    max-width: 80% !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP {
    width: 100% !important;
  }

  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP .Home_mission_detail__XFMOp p {
    line-height: normal !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH {
    width: 60% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_chart__9GofP .Home_chart_base__hJ6VH {
    width: 130% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_chart__9GofP .Home_chartAbsolute__vNxZP {
    width: 130% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH {
    margin-bottom: -10% !important;
    margin-left: 10% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH {
    width: 50% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 .Home_ScrollBase__6NExB .Home_ScrollBase_cont__NZjZn .Home_japaneseScrollCont_txt__Q3A8X p {
    font-size: 1vw !important;
    line-height: normal !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_content_p__Wryog p {
    font-size: 1.2vw !important;
    line-height: normal !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_strength_img_inner___blTO {
    width: 10% !important;
    right: 2% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_three_point__F0hMH .Home_cont__XW_Zr .Home_japaneseScrollBase__SV0O7 .Home_ScrollBase__6NExB .Home_ScrollBase_cont__NZjZn .Home_japaneseScrollCont_txt__Q3A8X {
    padding-left: 10% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw ul li a .Home_icon_img__l4Mim {
    width: 7vw !important;
    height: 7vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw ul li a .Home_icon_img__l4Mim .Home_iconInner__gbVbr {
    width: 3vw !important;
    height: 3vw !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw .Home_ttl__lAWVW {
    width: 7% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_service_intro__oPqIw ul li a p {
    font-size: 1vw !important;
    white-space: nowrap !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 .Home_cat_ttl__EiIfA>img {
    width: 10vw !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 .Home_cat_ttl__EiIfA p {
    font-size: 1vw !important;
    line-height: normal !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 {
    max-width: 60vw !important;
  }

  .Home_works__9ywpe .Home_container__97eC3 .Home_achievements__b_49r>img {
    width: 100% !important;
  }

  .Home_member__9o60q .Home_container__97eC3 .Home_inner__k19bH ul li {
    width: 10vw !important;
    height: 20vw !important;
  }

  .Home_member__9o60q .Home_container__97eC3 .Home_inner__k19bH ul li a .Home_close_inner__RpIL9 .Home_member_name__NEyvD h6 {
    font-size: 1.7vw !important;
    letter-spacing: normal !important;
  }

  .Home_member__9o60q .Home_container__97eC3 .Home_inner__k19bH ul li a .Home_close_inner__RpIL9 .Home_member_name__NEyvD p {
    font-size: 1vw !important;
    line-height: normal !important;
  }

  /* 3card */
  .Home_blog__iLAYq .Home_container__97eC3>ul {
    column-gap: 2% !important;
  }

  .blogCard_blog_card___EEBZ .blogCard_blog_a__Ar8XO div.blogCard_blog_thumb__XLGFH {
    width: 20vw !important;
    height: 12vw !important;
  }

  .blogCard_blog_card___EEBZ .blogCard_blog_a__Ar8XO div.blogCard_blog_thumb__XLGFH .blogCard_border__AFl54 {
    width: 100% !important;
    height: 100% !important;
  }

  .blogCard_blog_card___EEBZ .blogCard_blog_a__Ar8XO .blogCard_blog_detail__LWTKa .blogCard_blog_sub_ttl__LX_J6 {
    font-size: 1vw !important;
    line-height: normal !important;
  }

  /* news */
  .Home_news__jpNEz .Home_container__97eC3 {
    max-width: 60vw !important;
  }

  .Home_news__jpNEz .Home_container__97eC3 ul {
    max-width: 100% !important;
  }

  .Home_news__jpNEz .Home_container__97eC3 ul li {
    max-width: 100% !important;
  }

  .newslist_news_list__K9c2E .newslist_time___RuOW .newslist_date_inner__ynEnq .newslist_date__VCzwL,
  .newslist_news_list__K9c2E .newslist_time___RuOW .newslist_date_inner__ynEnq .newslist_youbi__vQaNv,
  .newslist_news_list__K9c2E .newslist_time___RuOW .newslist_date_inner__ynEnq .newslist_year__n_6p0 {
    font-size: 0.7vw !important;
    line-height: normal !important;
  }

  .newslist_news_list__K9c2E .newslist_news_ttl__WdOyO .newslist_main_ttl__m3J_f {
    font-size: 1.1vw !important;
    line-height: normal !important;
  }

  .newslist_news_list__K9c2E .newslist_news_ttl__WdOyO .newslist_detail__3cDOr {
    font-size: 0.7vw !important;
    line-height: normal !important;
  }

  /* news btn */
  .Home_news__jpNEz .Home_container__97eC3 .Home_contact_btn__Q6ktF a .Home_rect_btn__385UK {
    width: 15vw !important;
    height: 3vw !important;
  }

  .Home_news__jpNEz .Home_container__97eC3 .Home_contact_btn__Q6ktF a .Home_rect_btn__385UK .Home_inner__k19bH {
    width: 100%;
    height: 100%;
    font-size: 1vw;
    line-height: normal;
  }

  /* footer */
  .footer_footer__F0fS0 .footer_pamphlet__I_CmJ {
    max-width: 60vw !important;
  }

  .footer_footer__F0fS0 .footer_pamphlet__I_CmJ .footer_grid__nKeBW .footer_pamphlet_ttl__UcqIo p.footer_sub___FHuU {
    font-size: 1vw !important;
    line-height: normal !important;
  }

  .footer_footer__F0fS0 .footer_footer_nav__EMztQ .footer_footer_ul__ReS4f li {
    font-size: 1vw !important;
    line-height: normal !important;
  }

  /* header-menu */
  .header_header__Dg7eV .header_header_cont__odzQx .header_menu_btn___AWGu {
    width: 10vw !important;
    height: 10vw !important;
  }

  .header_header__Dg7eV .header_header_cont__odzQx .header_menu_btn___AWGu .header_hamburger___Uest {
    gap: 0.4vw;
  }

  .header_header__Dg7eV .header_open__dOUSy .header_menu_btn___AWGu .header_hamburger___Uest {
    gap: 0 !important;
  }

  .header_header__Dg7eV .header_header_cont__odzQx .header_menu_btn___AWGu .header_hamburger___Uest div {
    width: 3vw !important;
    height: 0.1vw !important;
  }

  .header_header__Dg7eV .header_header_cont__odzQx .header_nav_cont__djYqz .header_nav__s3g3s .header_ul__JNU_1 li a .header_header_items_name__23DNa {
    font-size: 1.4vw !important;
    line-height: normal !important;
  }

  .header_header__Dg7eV .header_header_cont__odzQx .header_nav_cont__djYqz .header_nav__s3g3s .header_ul__JNU_1 li a .header_header_items_yomikana__ynerK {
    font-size: 0.7vw !important;
    line-height: normal !important;
  }


}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .Home_mission__LY_vW .Home_container__97eC3 .Home_inner__k19bH .Home_mission_ttl__X8UHP>img {
    width: 70% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL {
    width: 100% !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_serviceFirstZoon__v0_lv {
    padding-right: calc(80 / 768* 100vw) !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_strength_img_inner___blTO {
    right: calc(30 / 768* 100vw) !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH .Home_competitor_children__7c3kc {
    flex-direction: column !important;
    align-items: flex-end !important;
    gap: 15px !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_competitor_chart__XMRDX .Home_competitor__x2QSH .Home_competitor_children__7c3kc .Home_Competitor_mycompany__bVh_h {
    width: calc(100 / 768* 100vw) !important;
  }

  .Home_service__Ie4vL .Home_inner__k19bH .Home_service_detail__A7XRL .Home_strength_img_inner___blTO {
    top: -4% !important;
  }
}