@import "_mixin.scss";
.black_bg {
  position: relative;
  .color_filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: color;
  }
  .black {
    background-color: rgb(0, 0, 0, 0.93);
  }
  .white {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

.full_bg {
  background: #000;
  background-image: url("/img/bg_img-pc.jpg");
  background-repeat: repeat-y !important;
  background-size: contain !important;
  background-position: 50% 0% !important;
  overflow: hidden;
  @media screen and (max-width: 576px) {
    background-image: url("/img/bg_img-sp.jpg");
    background-size: 150% !important;
  }
  &:after {
    content: "";
    z-index: 1;
    pointer-events: none;
    height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    animation: fadeOpacity 2s cubic-bezier(0, 1, 0.31, 1.16) 3s forwards;
  }
}

@keyframes fadeOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

div.animeBack {
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:nth-child(1) {
    &:after {
      animation: animeBack 1s cubic-bezier(0, 1, 0.31, 1.16) 1s forwards;
    }
  }
  &:nth-child(2) {
    &:after {
      animation: animeBack 1s cubic-bezier(0, 1, 0.31, 1.16) 1.2s forwards;
    }
  }
  &.sub_ttl_inner {
    &:after {
      animation: animeBack 1s cubic-bezier(0, 1, 0.31, 1.16) 1.5s forwards;
    }
  }
}

@keyframes animeBack {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.first_view {
  .container {
    height: inherit;
    position: relative;
    .h1_ttl {
      position: absolute;
      @include liquidSize(bottom, 231, 120, initial);
      @include liquidSize(left, 100, 10, initial);
      @include liquidSize(width, 850, 330);
      z-index: 111;
      @media screen and (max-width: 576px) {
        left: 50%;
        transform: translateY(0%) translateX(-50%);
        bottom: initial;
        top: 150px;
        margin: 0 auto;
      }

      .slice_items {
        .top_slice,
        .bottom_slice {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          position: relative;
          img {
            @include mb(15, 5);
            padding: 10px 15px;

            @media screen and (max-width: 576px) {
              padding: 5px 10px;
            }
          }
        }
        .top_slice {
          position: absolute;
          -webkit-clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
          clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
          animation: slice_anime 0.2s cubic-bezier(0.71, 0, 0.21, 1.71) 2.5s
            forwards;
          @media screen and (max-width: 576px) {
            animation: slice_anime_sp 0.2s cubic-bezier(0.71, 0, 0.21, 1.71)
              2.5s forwards;
          }
        }
        .bottom_slice {
          -webkit-clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
        }
      }
      .h1_sub_ttl {
        @include Oswald_font;
        color: white;
        @include font(55, 20, 80, 32, 500);
        @media screen and (max-width: 576px) {
          margin: 0 auto;
        }
      }
    }
    .scroll {
      position: absolute;
      width: 24px;
      height: 100px;
      bottom: 20px;
      right: 15px;
      img {
        width: 100%;
      }
    }
  }
}

@keyframes slice_anime {
  0% {
    top: 0px;
    right: 0px;
    transform: scale(1);
  }
  100% {
    top: -20px;
    right: -35px;
    transform: scale(0.95);
  }
}

@keyframes slice_anime_sp {
  0% {
    top: 0px;
    right: 0px;
    transform: scale(1);
  }

  100% {
    top: -10px;
    right: -15px;
    transform: scale(0.95);
  }
}

.concept_area {
  width: 100%;
  z-index: 55;
  position: relative;

  .concept_cont {
    width: 100%;
    height: 100%;

    @include flex_center;
    .concept_inner {
      text-align: center;
      color: #dddddd;
      @include dnp_font;
      h3 {
        @include font(72, 40, 72, 40, 400);
        @include mb(64, 40);
        @media (max-width: 768px) {
          font-size: 6vw; /* スマホ版のフォントサイズ */
        }
        @media (min-width: 769px) {
          font-size: 3vw; /* パソコン版のフォントサイズ */
        }
      }
      img {
        @include mb(80, 40);
        margin: 0 auto;
      }
      p {
        @include font(24, 14, 96, 56, 400);
        display: block;
      }
    }
  }
}

.mission {
  position: relative;
  .yellow_rect {
    position: absolute;
    display: block;
    top: -32px;
    left: 0;
    @include liquidSize(width, 1320, 260);
    @include liquidSize(height, 1000, 750);
    background: transparent
      radial-gradient(
        closest-side at 50% 50%,
        #ffd700 0%,
        #ffd800 32%,
        #847000 100%
      )
      0% 0% no-repeat padding-box;
    mix-blend-mode: exclusion;
    opacity: 1;
    z-index: 66;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgb(0, 0, 0);
      transform: translate(0, 0);
    }
    @media screen and (max-width: 576px) {
      top: 0%;
    }
  }
  .mesh_img_inner {
    position: absolute;
    top: -16%;
    right: -14%;
    @media screen and (max-width: 576px) {
      width: 1012px;
      height: 1012px;
      top: -8%;
      right: -80%;
    }
    @media (min-width: 769px) { /* パソコン版のフォントサイズ */
      width: 1512px;
      height: 1512px;
      @include liquidSize(width, 2040, 320);
      @include liquidSize(height, 2040, 320);
    }
    .mesh {
      position: relative;
      object-fit: cover;
    }
  }

  .container {
    @include container(1680px);
    z-index: 77;
    position: relative;
    .inner {
      position: relative;
      @include liquidSize(padding-top, 220, 47);
      .tommy_img {
        z-index: 66;
        position: absolute;
        @include liquidSize(bottom, -280, -135);
        @include liquidSize(left, -160, -135);
        transform-origin: center;

        .img_inner {
          @include liquidSize(width, 560, 280);
          @include liquidSize(height, 560, 280);
          position: relative;
          img {
            position: relative;
          }
        }
      }
      .mission_ttl {
        @include liquidSize(width, 1560, 355);
        margin: 0 0 0 auto;
        position: relative;
        > img {
          z-index: 66;
          position: absolute;
          top: -400px;
          @include liquidSize(top, -230, 60);
          @include liquidSize(left, -120, -44);
          @include liquidSize(width, 1200, 424);

          @media screen and (max-width: 576px) {
            @include liquidSize(margin-top, -210, -80);
          }
        }

        .mission_detail {
          @include liquidSize(padding-top, 350, 166);
          z-index: 66;
          position: relative;
          @include dnp_font;
          @include custom_padding_container(240, 30);
          @include liquidSize(padding-bottom, 120, 160);
          color: #e0be00;
          h4 {
            @include font(72, 40, 96, 72, 400);
            letter-spacing: 0px;
            font-size: 4vw;
            @include dnp_font;
            span {
              @media screen and (max-width: 576px) {
                @include span_br(before);
              }
            }
            @media (max-width: 768px) {
              @include liquidSize(padding-bottom, 0, 0);
              @include mb(54, 32);
              font-size: 7vw; /* スマホ版のフォントサイズ */
              width: 90vw;
              white-space: nowrap; /* テキストを1行に収める */
            }
            @media (min-width: 769px) {
              @include liquidSize(padding-bottom, 24, 24);
              @include mb(54, 100);
              font-size: 3.5vw; /* パソコン版のフォントサイズ */
            }
          }
          p {
            @include font(16, 14, 48, 32, 400);
            @include mb(75, 72);
            color: #e0bd00;
            font-size: 1vw;
            span {
              &:nth-child(1) {
                @include span_br(after);
              }
            }
            @media (max-width: 768px) {
              @include font(16, 14, 48, 22, 200);
              font-size: 3vw; /* スマホ版のフォントサイズ */
            }
            @media (min-width: 769px) {
              font-size: 1.4vw; /* パソコン版のフォントサイズ */
            }
            @media screen and (min-width: 576px) {
              span {
                &:nth-child(1) {
                  @include span_br(after);
                  @include span_br(before);
                }
                &:nth-child(2) {
                  @include span_br(before);
                }
              }
            }
          }
          .five_people_img {
            z-index: 5;
            position: absolute;
            @include liquidSize(top, 0, 0);
            @include liquidSize(right, 0, 0);
            @include liquidSize(width, 2000, 320);
            @include liquidSize(height, 1400, 320);
            @media screen and (max-width: 992px) and (min-width: 576px) {
              width: 365px;
              height: 365px;
            }
          }
        }

        .ttl_back {
          position: absolute;
          top: 0;
          left: 8px;
          width: 92%;
          height: 100%;
          z-index: 55;
        }
      }
    }
  }
}

.service {
  position: relative;
  .container {
    @include container(1680px);
    position: relative;
    .service_img_inner {
      position: absolute;
      right: 0;
      z-index: 9999;
      @include liquidSize(top, -360, -130);
      @include liquidSize(width, 368, 70, 160);
      @media screen and (max-width: 992px) {
        display: none;
      }
      .img {
        position: relative;
      }
    }
    .strong_img_inner {
      position: absolute;
      left: 12px;
      top: -20px;
      width: 254px;
      z-index: 115;
      transform: rotate(-90deg); // 90度回転させる
      .img {
        position: relative;
      }
      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }
  .inner {
    @include liquidSize(width, 1440, 325);
    background: #00000000;
    @include liquidSize(margin-top, 240, 150);
    position: relative;

    @media screen and (max-width: 786px) {
      width: 100%;
    }

    @media screen and (max-width: 576px) {
    }

    .service_detail {
      position: relative;
      @include dnp_font;

      background-color: #00000000;
      @media screen and (max-width: 786px) {
        width: 90%;
      }

      .serviceFirstZoon {
        padding-top: 100px;
        @include liquidSize(padding-left, 480, 20, 80);
        @include liquidSize(padding-right, 125, 20, 300);
        @include liquidSize(padding-bottom, 150, 80);
      }

      .service_content_p {
        @include liquidSize(padding, 30, 30);
        @media screen and (max-width: 768px) {
          padding-right: 0;
        }
        p {
          @include font(72, 40, 96, 72, 400);
          color: white;
          font-size: 1vw;
          @include liquidSize(margin-bottom, 25, 10);
          @include liquidSize(font-size, 16, 13);
          @include liquidSize(line-height, 32, 22);
          @media (max-width: 768px) {
            font-size: 3.4vw; /* スマホ版のフォントサイズ */
            line-height: 1.6; /* スマホ版の行間 */
            text-align: center; /* ここで中央寄せ */
          }
          @media (min-width: 769px) {
            font-size: 1.4vw; /* パソコン版のフォントサイズ */
            line-height: 1.6;
          }
        }
      }

      .strength_img_inner {
        position: absolute;
        @include liquidSize(width, 160, 70);
        @include liquidSize(top, 132, -125);

        @media screen and (max-width: 768px) {
          @include liquidSize(right, -70, 0, 150);
        }
        @media screen and (min-width: 769px) {
          @include liquidSize(right, -40, 80, 0);
        }
        img {
          position: relative;
          object-fit: cover;
        }
      }

      .competitor_chart {
        display: flex;
        align-items: end;
        justify-content: flex-start;
        column-gap: 24px;
        @media screen and (max-width: 786px) {
          flex-direction: column;
          row-gap: 35px;
          width: 110%;
        }
        .chart {
          position: relative;
          display: block;
          width: 100% !important;
          .chart_base {
            @include liquidSize(width, 592, 355);
            @media screen and (max-width: 786px) {
              width: 100% !important;
              height: auto;
            }
          }
          .chartAbsolute {
            position: absolute;
            top: 0;
            left: 0;
            @include liquidSize(width, 592, 355);
            @media screen and (max-width: 786px) {
              width: 100% !important;
              height: auto;
            }
          }
          img {
            position: relative;
            object-fit: cover;
          }
        }

        .competitor {
          position: relative;
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          @include mb(20, 0);
          width: 100%;
          @media screen and (max-width: 786px) {
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            padding: 4 10px;
          }
          .Competitor_mycompany {
            @include liquidSize(width, 88, 68);
            @include mb(10, 0);
            @media (max-width: 768px) { /* スマホ版のフォントサイズ */
              padding-left: 24px;
              padding-right: 8px;
            }
          }
          .Competitor_big {
            @include liquidSize(width, 216, 122);
            @media (max-width: 768px) { /* スマホ版のフォントサイズ */
              padding-left: 15px;
            }
          }
          .Competitor_nomal {
            @include liquidSize(width, 216, 122);
            @media (max-width: 768px) { /* スマホ版のフォントサイズ */
              padding-left: 15px;
            }
          }
          img {
            position: relative;
            object-fit: cover;
          }
        }
      }

      .service_intro {
        display: flex;
        @include liquidSize(margin-top, 200, 40);
        @media screen and (max-width: 786px) {
          width: 110%;
        }
        @media screen and (min-width: 787px) {
          width: 130%;
        }
        .ttl {
          @include liquidSize(width, 80, 40);
          @include liquidSize(margin-right, 20, 5);
          img {
            position: relative;
          }
        }
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          border-left: solid #d9d9d9 1px;
          width: 100%;
          @include liquidSize(column-gap, 35, 10);
          @include liquidSize(row-gap, 35, 10);
          @include liquidSize(padding-left, 40, 15);
          @media screen and (min-width: 786px) {
            justify-content: flex-start;
          }
          li {
            letter-spacing: 0px;
            color: #b1b1b1;
            cursor: pointer;
            @media screen and (max-width: 786px) {
              width: 30%;
            }
            @media screen and (min-width: 787px) {
              width: 20%;
            }
            a {
              @include font(16, 14, 45, 25, 400);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              transition: all ease-in-out 0.5s;
              &:hover {
                opacity: 0.5;
                transform: scale(1.05);
              }
              .icon_img {
                @include liquidSize(width, 140, 85);
                @include liquidSize(height, 140, 85);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &:after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: inherit;
                  height: inherit;
                  border-radius: 50%;
                  background: #ffecbe 0% 0% no-repeat padding-box;
                  mix-blend-mode: color-burn;
                  opacity: 0.3;
                }
                .iconInner {
                  @include liquidSize(width, 50, 33);
                  @include liquidSize(height, 50, 33);
                  position: relative;
                  img {
                    position: relative;
                  }
                }
              }
              p {
                @include liquidSize(font-size, 16, 11);
                letter-spacing: -0.4px;
                color: #d9d9d9;
              }
            }
          }
        }
      }
      .serviceSecondZoon {
        padding-top: 40px;
        @include liquidSize(padding-left, 480, 20, 80);
        @include liquidSize(padding-right, 125, 20, 300);
        @include liquidSize(padding-bottom, 150, 80);
      }
      .main_support_contents {
        // @include liquidSize(padding-top, 350, 166);
        z-index: 66;
        position: relative;
        width: 140%;
        @include dnp_font;
        // @include liquidSize(padding-bottom, 120, 160);
        color: #e0be00;
        h4 {
          @include font(72, 40, 96, 20, 400);
          letter-spacing: 0px;
          font-size: 4vw;
          @include dnp_font;
          span {
            @media screen and (max-width: 576px) {
              @include span_br(before);
            }
          }
          @media (max-width: 768px) {
            @include liquidSize(padding-bottom, 0, 0);
            @include mb(54, 32);
            font-size: 8vw; /* スマホ版のフォントサイズ */
            width: 90vw;
            white-space: nowrap; /* テキストを1行に収める */
          }
          @media (min-width: 769px) {
            @include liquidSize(padding-bottom, 24, 24);
            @include mb(54, 100);
            font-size: 3.5vw; /* パソコン版のフォントサイズ */
          }
        }
      }
      .three_point {
        @media screen and (max-width: 576px) {
          width: 120%;
        }
        @media screen and (min-width: 577px) {
          width: 56vw;
        }
        .cont {
          .japaneseScrollBase {
            position: relative;

            @include liquidSize(margin-bottom, 80, 15);
            height: inherit;

            .japaneseScroll_main {
              width: auto;
              height: 110%;
              min-width: 45px;
              position: absolute;
              top: 50%;
              left: 90%;
              z-index: 10;
              margin: auto;
              transform: translate(0, -50%);
              object-fit: cover;
              display: flex;
              @media screen and (max-width: 786px) {
                height: 105%;
              }
              img {
                height: 100%;
                width: auto;
                object-fit: cover;
                position: relative;
              }
            }
            .ScrollBase {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              @media screen and (max-width: 786px) {
                width: auto;
                height: 260px;
                min-width: 810px;
              }

              .scroll_line {
                @include liquidSize(width, 60, 20);
                @include liquidSize(margin-top, 20, 10);
              }
              .ScrollBase_cont {
                position: relative;
                width: 100%;
                display: inline-block;
                clip-path: inset(0 0 0 98%);

                .japaneseScrollCont {
                  width: 100%;
                  z-index: 4;
                  height: auto;
                  @media screen and (max-width: 576px) {
                    height: 100%;
                    width: inherit;
                  }
                  img {
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .japaneseScrollCont_txt {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  margin: auto;
                  transform: translate(0%, -50%);
                  @include liquidSize(padding-left, 80, 40);
                  @include liquidSize(padding-right, 70, 15);
                  @media screen and (max-width: 786px) {
                    width: 90vw;
                    padding-left: 50px;
                  }
                  @media screen and (min-width: 787px) {
                    @include liquidSize(padding-left, 100, 40);
                    @include liquidSize(padding-right, 20, 15);
                  }
                  h4,
                  p {
                    z-index: 5;
                    position: relative;
                  }
                  h4 {
                    // @include liquidSize(font-size, 32, 24);
                    border-bottom: #000 1px solid;
                    @media (max-width: 768px) {
                      padding-bottom: 16px;
                      font-size: 5vw; /* スマホ版のフォントサイズ */
                    }
                    @media (min-width: 769px) and (max-width: 1024px) {
                      padding-bottom: 16px;
                      font-size: 2vw; /* パソコン版のフォントサイズ */
                    }
                    @media (min-width: 1025px) {
                      padding-bottom: 24px;
                      font-size: 2.5vw; /* 大きいモニター版のフォントサイズ */
                    }
                  }
                  p {
                    @include liquidSize(margin-top, 25, 20);
                    @include liquidSize(font-size, 20, 13);
                    @include liquidSize(line-height, 32, 22);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .yoshimoto_img {
    position: absolute;
    @include liquidSize(right, -320, -40);
    @include liquidSize(bottom, -240, -90);
    .img_inner {
      @include liquidSize(width, 400, 180);
      @include liquidSize(height, 400, 180);
      position: relative;
      img {
        position: relative;
      }
    }
  }
}

.works {
  @include pd(192, 82);
  z-index: 5;
  position: relative;
  .container {
    @include container;
    @media screen and (max-width: 576px) {
      padding: 0;
    }
    .cat_ttl {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > img {
        @include mb(55, 15);
        @include liquidSize(width, 267, 110);
      }
      p {
        @include deco_txt;
      }
    }
    .achievements {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > img {
        padding-top: 100px;
        @include mb(55, 15);
        @include liquidSize(width, 1400, 400);
      }
    }
    .inner {
      @include pd(80, 40);
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        @include custom_gap(0, 0, 80, 40);
        a {
          height: inherit;
          width: inherit;
        }
        li {
          transition: 0.5s all ease-in-out;
          @include liquidSize(width, 400, 200);
          @include liquidSize(height, 720, 360);
          position: relative;
          margin: 0 auto;
          .close_inner {
            height: inherit;
            width: inherit;
            position: relative;
            @include flex_center;
            .works_bg,
            .works_img {
              height: inherit;
              width: inherit;

              .img_inner {
                height: inherit;
                width: inherit;
                position: relative;
                img {
                  position: relative;
                  object-fit: cover;
                }
              }
            }
            .works_img {
              height: 95%;
              position: absolute;
              @include flex-center;
            }
          }
          .open_inner {
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;
            @include flex_center;
            .company_name {
              @include dnp_font;
              text-align: center;
              p {
                @include deco_txt;
                color: #ffffff;
                @include mb(36, 40);
              }
              h6 {
                @include font(32, 18, 64, 36, 400);
                color: #ffffff;
              }
            }
          }
          &:hover {
            .open_inner {
              opacity: 1;
              height: inherit;
              width: inherit;
            }
          }
        }
      }
    }
    .center {
      @include flex-center;
      width: 100%;
    }
  }
}

.member {
  position: relative;
  @include pd(50, 25);
  @include liquidSize(padding-top, 150, 230);
  @include liquidSize(padding-bottom, 480, 140);

  .yellow_div {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
    @media screen and (max-width: 576px) {
      top: -2%;
    }
    .yellow_bg {
      background: transparent
        linear-gradient(90deg, #847000 0%, #ffd800 50%, #847000 100%) 0% 0%
        no-repeat padding-box;
      mix-blend-mode: exclusion;
      width: 100vw;
      @include liquidSize(height, 1600, 920);
      background-size: cover;
    }
    .triangle_area {
      position: relative;
      @include liquidSize(height, 300, 60);
      img {
        width: 100vw;
      }
    }
    .keiji_img {
      position: absolute;
      z-index: 4;
      bottom: 0;
      right: -3%;
      @include liquidSize(width, 640, 240);
      @include liquidSize(height, 800, 320);
      @media screen and (max-width: 576px) {
        bottom: 0%;
      }
      .img_inner {
        width: 100%;
        height: inherit;
        position: relative;
        img {
          width: 100%;
          height: inherit;
          object-fit: contain;
          position: relative;
        }
      }
    }
  }
  .misaki_img {
    position: absolute;
    z-index: 4;
    @include liquidSize(top, 320, -50);
    @include liquidSize(left, -50, -70);
    @include liquidSize(width, 800, 320);
    @include liquidSize(height, 800, 320);
    @media screen and (max-width: 992px) and (min-width: 576px) {
      width: 365px;
      height: 365px;
    }
    @media screen and (max-width: 576px) {
      @include liquidSize(width, 600, 300);
      @include liquidSize(height, 600, 300);
    }
    img {
      width: 100%;
      object-fit: contain;
      position: relative;
    }
  }
  @media (min-width: 769px) { /* パソコン版のフォントサイズ */
    .tommy_pc {
      z-index: 5;
      position: absolute;
      @include liquidSize(top, 100, -50);
      @include liquidSize(right, 150, -70);
      @include liquidSize(width, 600, 320);
      @include liquidSize(height, 500, 320);
      @media screen and (max-width: 992px) and (min-width: 576px) {
        width: 365px;
        height: 365px;
      }
    }
  }
  .container {
    z-index: 50;
    position: relative;
    @include container(960px);
    @media screen and (max-width: 576px) {
      padding: 0;
    }
    .cat_ttl {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (max-width: 768px) {
        padding-top: 88px;
      }
      > img {
        @include mb(55, 15);
        @include liquidSize(width, 374, 149);
      }
      p {
        @include deco_txt;
        color: #000;
        &::after,
        &::before {
          background-color: #000;
        }
      }
    }
    .inner {
      @include pd(80, 40);
      ul {
        display: flex;
        justify-content: center;
        @media screen and (min-width: 576px) {
          padding-top: 160px;
          padding-bottom: 120px;
        }
        @include custom_gap(0, 0, 40, 60);
        li {
          width: 240px;
          height: 480px;
          overflow: hidden;
          @media screen and (max-width: 786px) {
            overflow: initial;
            width: 120px;
            height: 240px;
            margin: 0 auto;
          }
          a {
            width: inherit;
            height: inherit;
            position: relative;
            .close_inner {
              width: inherit;
              height: inherit;
              position: absolute;
              top: 0;
              left: 0;

              .member_name {
                @include dnp_font;
                width: inherit;
                height: inherit;
                z-index: 15;
                color: #ffffff;
                writing-mode: vertical-rl;
                position: relative;
                @include flex-center;
                flex-direction: column;
                opacity: 1;
                transition: 0.3s all ease-in-out;
                img {
                  position: absolute;
                  @include absolute-center;
                  z-index: 12;
                }
                p {
                  @include font(16, 14, 32, 28, 400);
                  z-index: 16;
                  position: absolute;
                  right: 20%;
                  top: 10%;
                  letter-spacing: 0px;
                  @media screen and (max-width: 786px) {
                    color: #000;
                    right: -25%;
                    top: 0;
                  }
                }
                h6 {
                  font-size: 32px;
                  z-index: 17;
                  letter-spacing: 5px;
                  @media screen and (max-width: 786px) {
                    font-size: 28px;
                    color: #000;
                    position: absolute;
                    bottom: 0;
                    left: -35%;
                  }
                }
              }
              .door_back {
                width: inherit;
                height: inherit;
                background-color: #000;
                transform: translate(0);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                transition: 0.2s all ease-in-out;
              }
            }
            .open_inner {
              width: inherit;
              height: inherit;
              .member_bg {
                width: inherit;
                height: inherit;
              }
            }
            .open_door {
              width: inherit;
              height: inherit;
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              z-index: 15;
              .door_back {
                background-color: #000;
                width: inherit;
                height: inherit;
                @include flex-center;
                transition: 0.2s all ease-in-out;
                img {
                  width: 80%;
                }
              }
            }
            &:hover {
              .door_back {
                transform: translateX(-100%);
              }
              .member_name {
                opacity: 0;
              }
            }
          }
        }
      }
    }
    .center {
      @include flex-center;
      width: 100%;
    }
  }
}

.blog {
  position: relative;
  z-index: 11;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include liquidSize(padding-top, 340, 180);

  @media screen and (max-width: 992px) {
    align-items: flex-start;
  }

  .blog_word {
    @include liquidSize(left, 195, 22);
    top: 20%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    @include liquidSize(width, 398, 232);

    @media screen and (max-width: 992px) {
      left: initial;
      position: relative;
      transform: translate(0%, 0%) rotate(0deg);
      text-align: left;
      margin-bottom: 44px;
      @include liquidSize(padding-left, 56, 22, 70);
    }
  }

  .container {
    @include container(960px);
    @include liquidSize(max-width, 960, 335);
    @include liquidSize(margin-bottom, 80, 40);
    @media screen and (max-width: 576px) {
      max-width: 100%;
    }
    > ul {
      display: flex;
      justify-content: center;
      @include custom_gap(0, 40, 20, 0);
      @media screen and (max-width: 576px) {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
      }
      div.blog_thumb {
        @include liquidSize(width, 300, 240);
        @include liquidSize(height, 191, 150);
        @media screen and (max-width: 576px) {
          width: 100%;
        }
      }
    }
  }
  .btnArea {
    width: 100%;
    @include flex-center;
  }
}

.news {
  @include liquidSize(padding-bottom, 240, 120);
  .container {
    @include container(1680px);
    position: relative;

    .news_word {
      right: 0;
      top: 0;
      position: absolute;
      @include liquidSize(width, 345, 66, 120);
      @media screen and (max-width: 786px) {
        position: relative;
        transform: rotate(-90deg) translate(-30px, 80px);
      }
    }
    ul {
      @include container(960px);
      position: relative;
      @include liquidSize(padding-top, 200, 62);
      @include liquidSize(padding-bottom, 230, 112);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      @include custom_gap(73, 40, 0, 0);
      li {
        @include liquidSize(max-width, 850, 335, 700);
        @include dnp_font;
        color: #bababa;
        transition: 0.2s all ease-in-out;
        @media screen and (max-width: 576px) {
          max-width: auto;
        }
        a {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
  .container {
    @include container;
    .contact_btn {
      width: 100%;
      position: relative;
      z-index: 111;
      @include flex-center;
      cursor: pointer;
      transition: 0.2s all ease-in-out;
      &:hover {
        transform: scale(1.05);
        transform-origin: center;
      }
      a {
        .rect_btn {
          @include liquidSize(width, 640, 335);
          height: 80px;
          @include flex-center;
          background: transparent
            radial-gradient(
              closest-side at 50% 50%,
              #ffd700 0%,
              #ffd800 32%,
              #b19a14 100%
            )
            0% 0% no-repeat padding-box;
          .inner {
            border: 2px solid #000000;
            @include liquidSize(width, 636, 329);
            height: 76px;
            @include flex-center;
            @include font(24, 22, 32, 24, 800);
            @include Oswald_font;
            color: #000000;
            letter-spacing: 12px;
          }
        }
      }
    }
  }
}
